<div>
<h1>
<%= @list.name %>
</h1>

<ul>
<% @bookmarks.each do |bookmark| %>

<li>
<%= Movie.find(bookmark.movie_id).title %>
</br>
<p>

</p>
</li>
<li>
<%= bookmark.comment %>
</br>
<p>
<%= link_to "Delete", bookmark_path(bookmark),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
</p>
</li>

<% end %>
</ul>

<%= link_to 'show all', root_path %>

<%= link_to 'Add a bookmark', new_list_bookmark_path(@list.id) %>
</div>

<%= link_to "Delete list", list_path(params[:id]),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  <%= image_tag 'https://cdn.icon-icons.com/icons2/931/PNG/512/delete_remove_bin_icon-icons.com_72400.png', width: '30px' %>
