<body class="dark-background">
<div class="movies-container">

<% @movies.each do |movie| %>
<%= link_to movie do %>
<div class="my-3">
<div class="card-product">
  <%= image_tag movie.poster_url %>
  <div class="card-product-infos">
    <h2 class="no-underline"><%= movie.title %></h2>
    <p class="no-underline"><%= movie.overview %></p>
  </div>
</div>
</div>
<% end  %>
<% end %>
</div>
<%= link_to 'Back to lists', root_path, class: 'btn btn-primary new-list-btn' %>
</body>
